<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Flex Message</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"
                ng-click="app.action('approvalvalidation', 'back', this)"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div data-comp-id="text.1" ng-bind="data.message">Some text</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer=""
        style="padding: 0px; margin: 0px;">
        <button class="button button-positive button-block" data-comp-id="button.2"
            ng-click="app.action('approvalvalidation', 'ok', this)"
            style="margin: 0px; padding: 0px; float: left;">OK</button>
    </ion-footer-bar>
</ion-view>