<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Driver Check in</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <div class=" text-left" data-comp-id="text.1" style="width: 50%; float: left;">List of Employees</div>
                    <div class="text-right" data-comp-id="text.2" style="width: 50%; float: right;">0/40</div>
                </div>
            </div>
            <div data-comp-id="div.2">
                <div class="row" data-comp-id="row.2"
                    style="border-top: 1px solid rgb(200, 200, 200); margin: 0px; border-bottom: 1px solid rgb(200, 200, 200);">
                    <div class="col" data-comp-id="column.2"
                        style="height: 150px; overflow: auto; padding: 0px;">
                        <div class=" light energized-bg" data-comp-id="text.3"
                            style="white-space: normal; margin: 5px; padding:5px;">Magesh Babu S
                            <span style="float:right;">
                                <i class="icon ion-checkmark-circled" data-comp-id="icon.1"></i>
                                Checked in</span>
                        </div>
                        <div class=" positive stable-bg" data-comp-id="text.4"
                            style="white-space: normal; margin: 5px;padding:5px;">Magesh Babu S</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" stable-bg" data-comp-id="div.3"
            style="border-width: 1px; border-style: solid; border-color: rgb(200, 200, 200); border-radius: 10px; margin: 10px;">
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <label class="item item-input item-stacked-label item-outside-label light-bg"
                        data-comp-id="textInput.1" style="">
                        <span class="input-label">Enter OTP</span>
                        <input class=" light" onkeypress="if(this.value.length==6) return false;"
                            style="font-size: 32px; text-align: center; border-radius: 10px;" type="number">
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class=" bar-positive" data-comp-id="footer-bar.1"
        dynamic-fixed-footer="" style="">
        <div class="footer-button button-footer-center" data-comp-id="footerButton.1">
            <button class="button icon ion-android-hand button-round button-stable"></button>
            <div class="label">Check in</div>
        </div>
    </ion-footer-bar>
</ion-view>