<ion-view data-comp-id="ionic-view.1">
    <ion-content data-comp-id="ionic-content.1"></ion-content>
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Feedback</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.2">
        <div data-comp-id="div.1">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1">Travel Date
                        <span style="color:red;">*</span>
                    </div>
                    <label class="item item-input item-date-icon positive-icon"
                        data-comp-id="dateInput.1">
                        <span class="input-label" style="width: 0%;"></span>
                        <input date-format="MM-DD-YYYY" max="{{data.maxDate}}" min=""
                            ng-model-options="{allowInvalid: true}" ng-model="data.date" type="date">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.2">Feedback For
                        <span style="color:red;">*</span>
                    </div>
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.1">
                        <!--<span class="input-label">Select Label</span>-->
                        <select ng-model="data.feedbackfor"
                            ng-options="item.RequestForName for item in feedbackfor track by item.RequestForID"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.3">
                    <div data-comp-id="text.3">Category
                        <span style="color:red;">*</span>
                    </div>
                    <!--<select-list data-comp-id="selectList.1" ng-change="submitApprovals()"-->
                    <!--    ng-model="data.Area" no-label="true" select-class=" item-stacked-label"></select-list>-->
                    <label class="item  item-input item-select-icon positive-icon"
                        data-comp-id="selectInput.2">
                        <!--<span class="input-label">Select Label</span>-->
                        <select ng-model="data.category"
                            ng-options="item.F_Question for item in category track by item.F_ID"></select>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.4">
                <div class="col" data-comp-id="column.4" style="">
                    <div data-comp-id="text.4" style="margin: 0px;">Any other comments
                        <span style="color:red;">*</span>
                    </div>
                    <label class="item item-input item-stacked-label item-outside-label"
                        data-comp-id="textAreaInput.1" style="margin: 0px; padding: 0px;">
                        <!--<span class="input-label">Comments</span>-->
                        <textarea rows="4" style="height:100px;"></textarea>
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.5">
                <div class="col" data-comp-id="column.5">
                    <div data-comp-id="text.5">Ratings</div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="" style="padding: 0px;">
        <div class="row" data-comp-id="row.6" style="padding: 0px;">
            <div class="col" data-comp-id="column.6"
                style="padding: 0px; margin: 0px; border-right: 1px solid rgb(221, 221, 221);">
                <button class="button button-block button-positive" data-comp-id="button.2"
                    ng-click="reset()" style="margin: 0px; border-radius: 0px;">Reset</button>
            </div>
            <div class="col text-center" data-comp-id="column.7" style="padding: 0px;">
                <button class="button button-block button-positive" data-comp-id="button.3"
                    ng-click="validate();" style="margin: 0px; border-radius: 0px;">Submit</button>
            </div>
        </div>
    </div>
</ion-view>