<ion-view data-comp-id="ionic-view.1">
    <ion-content class=" dark-bg" data-comp-id="ionic-content.1">
        <div class="card" data-comp-display="card.1" data-comp-id="div.1"
            style="margin-top:50%;">
            <div class="row" data-comp-id="row.1" style="">
                <div class="col text-center" data-comp-id="column.1">
                    <ion-spinner icon="spiral"></ion-spinner>
                    <div data-comp-id="text.1">Your Dashboard will be loading soon...</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>