<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class=" bar-positive"
        data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <div class=" positive-bg" data-comp-id="div.1">
            <div class="row light" data-comp-id="row.1">
                <div class="col col-20 text-center" data-comp-id="column.1">
                    <i class="icon fa-icon fa-user-circle" data-comp-id="icon.1"
                        style="font-size: 44px;"></i>
                </div>
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.2" ng-bind="data.displayName"></div>
                    <div data-comp-id="text.3" ng-bind="data.businessTitle"></div>
                </div>
            </div>
        </div>
        <div class="list" data-comp-id="ionic-list.1">
            <div class="item item-icon-left item-icon-right" data-comp-id="item.1"
                ng-click="app.call('goeasymethods.getDashboard');">
                <i class="icon ion-person" data-comp-id="icon.2"></i>
                <div data-comp-id="text.4">Dashboard</div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.3" style="font-size:32px"></i>
            </div>
            <div class="item item-icon-left item-icon-right" data-comp-id="item.2"
                ng-click="app.call('goeasymethods.getAdhocdetails');">
                <i class="icon ion-android-time" data-comp-id="icon.4"></i>
                <div data-comp-id="text.5">Adhoc Request
                    <span class="item-note"></span>
                </div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.5" style="font-size:32px"></i>
            </div>
            <div class="item item-icon-left item-icon-right" data-comp-id="item.3"
                ng-click="app.call('goeasymethods.getMytrips');">
                <i class="icon ion-android-pin" data-comp-id="icon.6"></i>
                <div data-comp-id="text.6">My Trips
                    <span class="item-note"></span>
                </div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.7" style="font-size:32px"></i>
            </div>
            <div class="item item-icon-left item-icon-right" data-comp-id="item.4"
                ng-click="app.call('goeasymethods.getMyApprovals');">
                <i class="icon ion-android-checkbox-outline" data-comp-id="icon.8"></i>
                <div data-comp-id="text.7">My Approvals
                    <span class="item-note"></span>
                </div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.9" style="font-size:32px"></i>
            </div>
            <div class="item item-icon-left item-icon-right" data-comp-id="item.5"
                ng-click="app.call(&quot;login.logout&quot;)">
                <i class="icon ion-log-out" data-comp-id="icon.10"></i>
                <div data-comp-id="text.8">Logout</div>
                <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.11"
                    style="font-size: 24px;"></i>
            </div>
        </div>
    </ion-content>
</ion-view>