<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" positive-bg" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon light-icon"
                data-comp-id="button.1" ng-click="app.showMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title class=" light" data-comp-id="nav-title.1">My Approvals - Dashboard</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1"></ion-content>
</ion-view>