<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">My Trips</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <!--Tabs-->
        <div data-comp-id="div.1" ng-if="false">
            <div class="row light-bg" data-comp-id="row.1" style="padding: 0px;">
                <div class="col text-center" data-comp-id="column.1"
                    ng-repeat="item in data.tabs"
                    ng-style="item.selected ? {borderBottom: '3px solid rgb(67, 152, 210)'} : {backgroundColor: 'rgb(243,243,243)'}"
                    style="margin: 0px 0px -5px;">
                    <i class="icon {{item.icon}} positive ion-android-pin" data-comp-id="icon.1"
                        ng-if="item.selected" style="font-size: 30px;"></i>
                    <i class="icon {{item.icon}} calm ion-ios-clock" data-comp-id="icon.2"
                        ng-if="!item.selected" style="font-size: 30px;"></i>
                    <div class=" positive" data-comp-id="text.1" ng-bind="item.name"
                        ng-if="item.selected" style="font-weight: normal;">Mytrips</div>
                    <div class=" calm" data-comp-id="text.2" ng-bind="item.name"
                        ng-if="!item.selected" style="font-weight: normal;">Tab 1</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.2" ng-show="errormsgcontainer">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.3" ng-bind="data.errormsg">Some text</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.3" ng-show="mytripstabs" style="padding: 0px;">
            <div class="row positive-bg" data-comp-id="row.3" style="padding: 0px;">
                <div class="col text-center" data-comp-id="column.3"
                    ng-click="showdiv('mytrips')"
                    ng-style="mytripslist ? {backgroundColor: '#bc85f7'} : {backgroundColor: '#6C4990'}"
                    style="margin: 0px; padding: 0px; border-right: 1px solid rgb(221, 221, 221);">
                    <i class="icon ion-android-pin light" data-comp-id="icon.3"
                        style="font-size: 30px;"></i>
                    <div class=" light" data-comp-id="text.4">Active Trips</div>
                </div>
                <div class="col text-center" data-comp-id="column.4"
                    ng-click="showdiv('cancel')"
                    ng-style="cancellist ? {backgroundColor: '#bc85f7'} : {backgroundColor: '#6C4990'}">
                    <i class="icon ion-android-cancel light" data-comp-id="icon.4"
                        style="font-size: 30px;"></i>
                    <div class=" light" data-comp-id="text.5">Cancelled Trips</div>
                </div>
                <div class="col text-center" data-comp-id="column.5"
                    ng-click="showdiv('noshow')" ng-if="false"
                    ng-style="noshowlist ? {borderBottom: '3px solid #ffffff'} : {backgroundColor: '#6C4990'}">
                    <i class="icon ion-ios-clock light" data-comp-id="icon.5"
                        style="font-size: 30px;"></i>
                    <div class=" light" data-comp-id="text.6">No shows</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.4" ng-show="mytripslist">
            <div class="card" data-comp-id="div.5" ng-if="item.RequestTypeName!=undefined"
                ng-repeat="item in data.mytrips.CancelTransportDetails" style="padding: 0px;">
                <div class="row stable" data-comp-id="row.4" style="padding: 0px;">
                    <div class="col text-left stable-bg" data-comp-id="column.6" style="">
                        <div class="text-center" data-comp-id="text.7" ng-bind="item.RequestTypeName"
                            style="color: rgb(4, 3, 3); font-weight: bold; float: left;">Adhoc</div>
                    </div>
                    <div class="col stable stable-bg" data-comp-id="column.7">
                        <button
                            class="button fa-icon fa-car button-positive button-footer-right button-small icon-left"
                            data-comp-id="button.2" ng-click="noShowPopup(item)"
                            style="border-radius: 4px; font-size: 16px; padding: 0px 4px; float: right;">Cancel</button>
                    </div>
                </div>
                <div class="row" data-comp-id="row.5">
                    <div class="col" data-comp-id="column.8">
                        <div class="row" data-comp-id="row.6">
                            <div class="col col-20" data-comp-id="column.9">
                                <i class="icon ion-calendar positive" data-comp-id="icon.6"
                                    style="font-size: 32px;"></i>
                            </div>
                            <div class="col" data-comp-id="column.10">
                                <div data-comp-id="text.8"
                                    ng-bind="item.FromDateString +&quot; to &quot; +item.ToDateString"
                                    ng-if="item.FromDate!=null" style="font-weight: bold;">
                                    <!--ng-bind="item.FromDate.split('T')[0] +&quot; to &quot; +item.ToDate.split('T')[0]"-->
                                </div>
                                <div data-comp-id="text.9" ng-bind="item.RequestForName +&quot;- &quot;">{{item.RequestForName}}
                                    <!--ng-bind="item.RequestForName +&quot;- &quot;+ item.ShiftStartTime +&quot; - &quot;+ item.ShiftEndTime"-->
                                    <span ng-if="item.RequestForName =='Pickup'">{{item.ShiftStartTime}}</span>
                                    <span ng-if="item.RequestForName =='Drop'">{{item.ShiftEndTime}}</span>
                                    <span ng-if="item.RequestForName =='Pickup and Drop'">{{item.ShiftStartTime}}
                                        +" - "+
                                        {{item.ShiftEndTime}}</span>Drop at 5:00 pm</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.7" ng-show="recordlist">
                <div class="col" data-comp-id="column.11">
                    <div data-comp-id="text.10">No record to be displayed</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.6" ng-show="cancellist">
            <div class="card" data-comp-id="div.7"
                ng-repeat="item in data.mytrips.CancelMyTripDetails" style="padding: 0px;">
                <div class="row stable" data-comp-id="row.8" style="padding: 0px;">
                    <div class="col text-left stable-bg" data-comp-id="column.12" style="">
                        <div class="text-center" data-comp-id="text.11" ng-bind="item.ReqTypeName"
                            style="color: rgb(4, 3, 3); font-weight: bold; float: left;">Adhoc</div>
                    </div>
                    <div class="col stable stable-bg" data-comp-id="column.13"></div>
                </div>
                <div class="row" data-comp-id="row.9">
                    <div class="col" data-comp-id="column.14">
                        <div class="row" data-comp-id="row.10">
                            <div class="col col-20" data-comp-id="column.15">
                                <i class="icon ion-calendar positive" data-comp-id="icon.7"
                                    style="font-size: 32px;"></i>
                            </div>
                            <div class="col" data-comp-id="column.16">
                                <div data-comp-id="text.12"
                                    ng-bind="item.StartDateString +&quot; to &quot; +item.EndDateString"
                                    style="font-weight: bold;">
                                    <!--ng-bind="item.StartDate.split('T')[0] +&quot; to &quot; +item.EndDate.split('T')[0]"-->
                                </div>
                                <div data-comp-id="text.13"
                                    ng-bind="item.ReqForName +&quot; at &quot;+ item.ShiftStart+&quot; - &quot;+item.ShiftEnd">Drop at 5:00 pm</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.11" ng-show="cancelllist">
                <div class="col" data-comp-id="column.17">
                    <div data-comp-id="text.14">No record to be displayed</div>
                </div>
            </div>
        </div>
        <div data-comp-id="div.8" ng-show="noshowlist">
            <div class="row" data-comp-id="row.12">
                <div class="col" data-comp-id="column.18">
                    <label class="item item-input item-date-icon positive-icon item-stacked-label"
                        data-comp-id="dateInput.1">
                        <span class="input-label">Select Month</span>
                        <input date-format="MMM-YYYY" max="2100-12-12" min="1900-01-01"
                            ng-model-options="{allowInvalid: true}" ng-model="data.selectmonth" type="date">
                    </label>
                </div>
            </div>
            <div class="row" data-comp-id="row.13">
                <div class="col" data-comp-id="column.19">
                    <button class="button button-block button-positive" data-comp-id="button.3"
                        ng-click="app.action('mytripstab', 'getnoshows', this)">Get No Shows</button>
                </div>
                <div class="col" data-comp-id="column.20">
                    <button class="button button-block button-positive" data-comp-id="button.4"
                        ng-click="app.action('mytripstab', 'getadhochistory', this)">Get Adhoc History</button>
                </div>
            </div>
            <div class="card" data-comp-id="div.9"
                ng-if="item.date!=&quot;No data available in table&quot;"
                ng-repeat="item in data.noshowlist" style="padding: 0px;">
                <div class="row stable" data-comp-id="row.14" style="padding: 0px;">
                    <div class="col text-left stable-bg" data-comp-id="column.21" style="">
                        <div class="text-center" data-comp-id="text.15" ng-bind="item.date"
                            style="color: rgb(4, 3, 3); font-weight: bold; float: left;">Adhoc</div>
                    </div>
                    <div class="col stable stable-bg" data-comp-id="column.22"></div>
                </div>
                <div class="row" data-comp-id="row.15">
                    <div class="col" data-comp-id="column.23">
                        <div class="row" data-comp-id="row.16">
                            <div class="col col-20" data-comp-id="column.24">
                                <i class="icon ion-calendar positive" data-comp-id="icon.8"
                                    style="font-size: 32px;"></i>
                            </div>
                            <div class="col" data-comp-id="column.25">
                                <div data-comp-id="text.16"
                                    ng-bind="item.shift +&quot;- &quot;+ item.pickupdrop" style="font-weight: bold;">Date :
                                    {{item.date}}</div>
                                <div data-comp-id="text.17"
                                    ng-bind="&quot;Route : &quot;+item.routeno +&quot; and &quot;+ &quot;Tripsheet No &quot;+ item.tripsheetno"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" data-comp-id="div.10"
                ng-if="item.requesttype!=&quot;No data available in table&quot;"
                ng-repeat="item in data.adhochistory">
                <div class="row" data-comp-id="row.17" style="padding: 0px; margin: 0px;">
                    <div class="col stable-bg dark" data-comp-id="column.26">
                        <div data-comp-id="text.18" ng-bind="item.requesttype"
                            style="font-weight: bold;">Some text</div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.18">
                    <div class="col col-20 text-center" data-comp-id="column.27"
                        style="padding: 10px 0px 0px;">
                        <i class="icon ion-calendar positive" data-comp-id="icon.9"
                            style="font-size: 32px;"></i>
                    </div>
                    <div class="col" data-comp-id="column.28" style="padding: 10px;">
                        <div data-comp-id="text.19" ng-bind="item.fromdate" style="font-weight: bold;">Some text</div>
                        <div data-comp-id="text.20"
                            ng-bind="item.requestfor +&quot; at &quot;+ item.shifttime">Some text</div>
                        <div class=" positive" data-comp-id="text.21"
                            ng-bind="&quot;Status : &quot; + item.status" style="font-weight: bold;">Some text</div>
                        <div data-comp-id="text.22" ng-bind="&quot;Approver : &quot; + item.approver"
                            ng-if="item.approver!=&quot;&quot;" style="font-size: 10px;">Some text</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>