<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Goeasy Message</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="text.1" ng-bind="data.successmsg">Some text</div>
    </ion-content>
    <ion-footer-bar align-title="center" class="" data-comp-id="footer-bar.1"
        dynamic-fixed-footer="" style="margin: 0px; padding: 0px;">
        <button class="button button-positive button-footer-center button-full"
            data-comp-id="button.1" ng-click="menudata(&quot;mytrips&quot;);">OK</button>
    </ion-footer-bar>
</ion-view>