<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" positive-bg" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon light-icon"
                data-comp-id="button.1" ng-click="app.showMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title class=" light" data-comp-id="nav-title.1">My Approvals - CIP</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar-light bar-subheader" data-comp-id="header-bar.1"
        dynamic-fixed-header="" style="margin: 0px; padding: 0px;">
        <div class="row" data-comp-id="row.1" style="margin: 0px; padding: 0px;">
            <div class="col text-left" data-comp-id="column.1"
                style="padding: 0px; margin: 0px; border-right: 1px solid rgb(221, 221, 221);">
                <button class="button button-block  button-positive icon"
                    data-comp-id="button.2" ng-click="selectionall()"
                    style="float: left; margin: 0px; border-radius: 0px;">Select All</button>
            </div>
            <div class="col text-right" data-comp-id="column.2"
                style="padding: 0px; margin: 0px;">
                <button class="button  button-positive button-block icon"
                    data-comp-id="button.3" ng-click="clearselection()"
                    style="margin: 0px; border-radius: 0px; padding: 0px;">Deselect All</button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.2" style="margin: 0px; padding: 0px;">
            <div class="col" data-comp-id="column.3" style="margin: 0px; padding: 0px;">
                <div class=" text-center" data-comp-id="text.1" ng-bind="data.recordcount"
                    style="margin: 0px;"></div>
            </div>
        </div>
        <ion-list class="" data-comp-id="ionic-list.1"
            ng-if="item.date!=&quot;No data available in table&quot;"
            ng-repeat="item in data.specialcabpending" type=" card">
            <div apprlist="" class="light-bg apprlist" data-comp-id="div.1" ng-click=""
                style="border-radius: 0px;">
                <div class="row" data-comp-id="row.3"
                    style="margin: 0px; padding: 0px; border-radius: 0px;">
                    <div class="col positive-bg col-10 text-center tickmark" data-comp-id="column.4"
                        style="padding: 0px; margin: 0px; display:none;">
                        <i class="icon ion-checkmark light" data-comp-id="icon.1"
                            style="font-size: 24px; line-height:100px;"></i>
                    </div>
                    <div class="col col-10 text-center calendericon" data-comp-id="column.5"
                        style="padding: 10px 5px;">
                        <i class="icon ion-android-calendar positive" data-comp-id="icon.2"
                            style="font-size: 24px;"></i>
                    </div>
                    <div class="col" data-comp-id="column.6"
                        style="padding: 10px; border-radius: 0px;">
                        <div class=" id" data-comp-id="text.2" ng-bind="item.ID" ng-show="false">Some text</div>
                        <div class=" energized" data-comp-id="text.3"
                            ng-bind="&quot; Request for : &quot;+ item.RequestForName"
                            style="font-size: 14px; line-height: 28px; font-weight: normal;"></div>
                        <div class=" dark" data-comp-id="text.4"
                            ng-bind="&quot; Request by : &quot;+ item.CreatedByName"
                            style="font-size: 12px; line-height: 24px;">Some text</div>
                        <div class=" dark" data-comp-id="text.5"
                            ng-bind="&quot; Special Cab - &quot;+ item.DutyType"
                            style="font-size: 12px; line-height: 24px;">Some text</div>
                        <div class=" dark" data-comp-id="text.6"
                            ng-bind="item.FromDate +&quot; - &quot;+item.ToDate" style="font-size: 12px;">Some text</div>
                        <div class=" dark" data-comp-id="text.7"
                            ng-bind="item.PickupAddress +&quot; - &quot;+item.DropAddress"
                            style="font-size: 12px;">Some text</div>
                        <!--ng-bind="item.FromDate.split('T')[0]"-->
                        <div class=" dark" data-comp-id="text.8"
                            ng-bind="&quot; No. of passengers : &quot;+item.NumberOfPerson"
                            style="font-size: 12px;">Some text</div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="" style="padding: 0px; margin: 0px;">
        <div class="row" data-comp-id="row.4" style="padding: 0px; margin: 0px;">
            <div class="col text-center" data-comp-id="column.7"
                style="padding: 0px; border-right: 1px solid rgb(221, 221, 221);">
                <button class="button ion-android-close button-positive button-block"
                    data-comp-id="button.4" ng-click="submitApprovals(&quot;reject&quot;)"
                    style="padding: 0px; border-radius: 0px; margin: 0px;">
                    Reject</button>
            </div>
            <div class="col text-center positive nocolor-bg" data-comp-id="column.8"
                style="padding: 0px; margin: 0px;">
                <button class="button ion-android-done button-full button-positive"
                    data-comp-id="button.5" ng-click="submitApprovals(&quot;approve&quot;)"
                    style="margin: 0px; border-radius: 0px;">
                    Approve</button>
            </div>
        </div>
    </div>
</ion-view>