<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">List View</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1"></ion-list>
        <select-list data-comp-id="selectList.1" ng-model="data.RequestType">Request Type</select-list>
        <label class="item item-input item-date-icon positive-icon"
            data-comp-id="dateInput.1">
            <span class="input-label">Date</span>
            <input date-format="DD/MM/YYYY" max="2100-12-12" min="1900-01-01"
                ng-model-options="{allowInvalid: true}" ng-model="data.Date" type="date">
        </label>
        <label class="item item-input item-date-icon positive-icon"
            data-comp-id="dateInput.2">
            <span class="input-label">From Date</span>
            <input date-format="DD/MM/YYYY" max="2100-12-12" min="1900-01-01"
                ng-model-options="{allowInvalid: true}" ng-model="data.FromDate" type="date">
        </label>
        <label class="item item-input item-date-icon positive-icon"
            data-comp-id="dateInput.3">
            <span class="input-label">To Date</span>
            <input date-format="MM/DD/YYYY" max="2100-12-12" min="1900-01-01"
                ng-model-options="{allowInvalid: true}" ng-model="data.ToDate" type="date">
        </label>
        <select-list data-comp-id="selectList.2" ng-model="data.RequestFor">Request For</select-list>
        <select-list data-comp-id="selectList.3" ng-model="data.Timing">Timing</select-list>
        <select-list data-comp-id="selectList.4" ng-model="data.Area">Area</select-list>
        <select-list data-comp-id="selectList.5" ng-model="data.BordingPoint">Boarding/Drop Point</select-list>
        <ion-toggle class="toggle-item" data-comp-id="toggle.1">Special Need</ion-toggle>
        <select-list data-comp-id="selectList.6" ng-model="data.PleaseSpecify">Please Specify</select-list>
        <div data-comp-id="text.1" ng-bind="data.ReasonForAdhoc">Reason for Adhoc</div>
    </ion-content>
</ion-view>