<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Trip cancellation</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"
                ng-click="app.call('goeasymethods.getMytrips');"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <label
            class="item item-input item-date-icon positive-icon item-stacked-label item-outside-label"
            data-comp-id="dateInput.1">
            <span class="input-label" style="">From Date</span>
            <input date-format="DD-MMM-YYYY" max="{{data.maxDate}}" min="{{data.minDate}}"
                ng-model-options="{allowInvalid: true}" ng-model="fromdate" type="date">
        </label>
        <label
            class="item item-input item-date-icon positive-icon item-stacked-label item-outside-label"
            data-comp-id="dateInput.2">
            <span class="input-label">To Date</span>
            <input date-format="DD-MMM-YYYY" max="{{data.maxDate}}" min="{{data.minDate}}"
                ng-model-options="{allowInvalid: true}" ng-model="todate" type="date">
        </label>
        <label
            class="item item-input item-select-icon positive-icon item-stacked-label icon-position-middle"
            data-comp-id="selectInput.1">
            <span class="input-label">Request For</span>
            <select ng-focus="loadOptions()" ng-model="data.reqfor"
                ng-options="item.RequestForName as item.RequestForName for item in requestfor"></select>
        </label>
    </ion-content>
    <ion-footer-bar class=" bar-positive" data-comp-id="footer-bar.1"
        dynamic-fixed-footer="" style="padding: 0px; margin: 0px;">
        <div class="row" data-comp-id="row.1" style="margin: 0px; padding: 0px;">
            <div class="col" data-comp-id="column.1" style="margin: 0px; padding: 0px;">
                <div class="row" data-comp-id="row.2"
                    style="padding: 0px; margin: 0px; border-width: 0px; border-style: initial; border-color: initial; border-radius: 0px;">
                    <div class="col" data-comp-id="column.2"
                        style="margin: 0px; padding: 0px; border-width: 0px; border-style: initial; border-color: initial; border-radius: 0px;">
                        <button class="button button-block" data-comp-id="button.2"
                            style="margin: 0px; padding: 0px;">Cancel</button>
                    </div>
                    <div class="col" data-comp-id="column.3"
                        style="padding: 0px; border-width: 0px; border-style: initial; border-color: initial; border-radius: 0px; margin: 0px;">
                        <button class="button button-block" data-comp-id="button.3"
                            ng-click="tripcancel()" style="margin: 0px; padding: 0px;">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>