<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"
                ng-click="app.showMenu()"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Check in</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <ion-list data-comp-id="ionic-list.1">
                <div class="row light-border" data-comp-id="row.1"
                    style="border-bottom: 1px solid rgb(255, 255, 255);">
                    <div class="col" data-comp-id="column.1" style="">
                        <div class=" light" data-comp-id="text.1">Request Type</div>
                    </div>
                    <div class="col" data-comp-id="column.2" style="">
                        <div class=" light" data-comp-id="text.2">Regular</div>
                    </div>
                </div>
                <div class="row light-border" data-comp-id="row.2"
                    style="border-bottom: 1px solid rgb(255, 255, 255);">
                    <div class="col" data-comp-id="column.3" style="">
                        <div class=" light" data-comp-id="text.3">Request For</div>
                    </div>
                    <div class="col" data-comp-id="column.4" style="">
                        <div class=" light" data-comp-id="text.4">Pickup</div>
                    </div>
                </div>
                <div class="row light-border" data-comp-id="row.3"
                    style="border-bottom: 1px solid rgb(255, 255, 255);">
                    <div class="col" data-comp-id="column.5" style="">
                        <div class=" light" data-comp-id="text.5">Shift Time</div>
                    </div>
                    <div class="col" data-comp-id="column.6" style="">
                        <div class=" light" data-comp-id="text.6">20:00</div>
                    </div>
                </div>
                <div class="row light-border" data-comp-id="row.4"
                    style="border-bottom: 1px solid rgb(255, 255, 255);">
                    <div class="col" data-comp-id="column.7" style="">
                        <div class=" light" data-comp-id="text.7">Vehicle No</div>
                    </div>
                    <div class="col" data-comp-id="column.8" style="">
                        <div class=" light" data-comp-id="text.8">TN09 AA 2323</div>
                    </div>
                </div>
                <div class="row light-border" data-comp-id="row.5"
                    style="border-bottom: 1px solid rgb(255, 255, 255);">
                    <div class="col" data-comp-id="column.9" style="">
                        <div class=" light" data-comp-id="text.9">Route</div>
                    </div>
                    <div class="col" data-comp-id="column.10" style="">
                        <div class=" light" data-comp-id="text.10">P33</div>
                    </div>
                </div>
            </ion-list>
        </div>
        <div data-comp-id="div.2">
            <div class="row" data-comp-id="row.6">
                <div class="col" data-comp-id="column.11">
                    <div class="text-center light" data-comp-id="text.11"
                        style="font-size: 32px; float: none; margin: 20px;">Enter OTP</div>
                    <input class=" nocolor" ng-model="jhjjhjkhkhkjhjhkjhkj"
                        onkeypress="if(this.value.length==6) return false;"
                        style="font-size: 32px; text-align: center; border-radius: 10px;" type="number">
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class=" bar-positive" data-comp-id="footer-bar.1"
        dynamic-fixed-footer="" style="">
        <div class="footer-button button-footer-center" data-comp-id="footerButton.1">
            <button class="button icon ion-android-hand button-round button-stable"></button>
            <div class="label">Check in</div>
        </div>
    </ion-footer-bar>
</ion-view>